<section class="fill-view">
  <link rel="stylesheet" href="/modules/users/client/css/loader.css" />
  <audio autoplay>
    <source src="https://www.freesound.org/people/KeeKee/sounds/389604/" type="audio/wav">
  </audio>
  <h1 class="text-center">...It's Ringing</h1>
  <div class="loading">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
  </div>

  <button class="cancel btn btn-danger" ng-click="vm.cancelCall(vm.invitation)">Cancel</button>
</section>
