<link rel="stylesheet" href="/lib/stylesheets/parallax.css">
<div class="container text-center">

  <br>
  <div class="row-fluid">
    <div class="span10 offsetHalf">

    <i class="icon-screenshot icon-5x" style="color:#ee1111;"></i>
    </div>
  </div>
   <br>
  <div class="row-fluid">
      <h1 class="pull-center"><strong>The Yakkee Network</strong></h1><br><br><br><br><br><br>
      <span class="align-bottom"><h2 class="lead pull-center">Where Seniors Hang Out!</h2></span>
  </div>

  <div class="row-fluid">

        <div class="span5 offsetHalf block">
          <div class="pull-center">
            <h1>So Come Visit Your Friends!</h1>
            <h2 class="lead pull-center">From the comfort of your own home</h2>
            <h1><i class="icon-beaker icon-4x"></i></h1>
            <button class="btn btn-primary btn-flat" ng-click="vm.getStarted();">Get Started<i class="pull-right icon-chevron-right icon-large"></i></button>
          </div>
        </div>
        <div class="span5 block">
          <div class="pull-center">
          <h1>What is Yakkee?</h1>
            <p class="text-xl">Yakkee is designed to bring friends and loved ones together and provide opportunity for interactivity and provide care.</p>
            <p class="text-xl">Some types of interactivity include games like chess, checkers and a variety of card games. You can also watch videos together while on video chat.</p>
          </div>
        </div>

  </div>
  <br><br><br>
