<section>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="container-fluid">
    <div class="row">
      <div class="section-header"><h3>Newsletter</h3></div>
      <div class="col">
        <form>
          <div class="form-group">
            <!--<label for="newsletterEmail" class="section-header">Email</label>-->
            <input type="email" class="form-control" id="newsletterEmail" placeholder="input your email">
          </div>
          <div>
            <button class="btn btn-lg btn-primary pull-right" type="submit" id="submit-button">Sign Up!</button>
          </div>
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="section-header"><h3>Donate</h3></div>
      <p class="snow">If you like what we are doing and would like to support our cause, please donate.</p>
      <button class="btn btn-lg btn-primary">Donate</button>
    </div>
    <hr>
    <div class="row footer-links">
      <div class="section-header"><h3>About</h3></div>
      <div class="col-xs-4 space">
        <a href="#">The Mission</a>
      </div>
      <div class="col-xs-4 space">
        <a href="#">The Team</a>
      </div>
      <div class="col-xs-4 space">
        <a href="#">FAQ</a>
      </div>
      <div class="col-xs-4 space">
        <a href="#">Press</a>
      </div>
      <div class="col-xs-4 space">
        <a href="#">Developers</a>
      </div>
      <div class="col-xs-4 space">
        <a href="#">Jobs</a>
      </div>
      <div class="col-xs-4 space">
        <a href="#">Privacy Policy</a>
      </div>
      <div class="col-xs-4 space">
        <a href="#">Terms of Use</a>
      </div>
      <div class="col-xs-4 space">
        <a href="#">Contact</a>
      </div>
    </div>
    <hr>
    <div class="row social-icons">
      <div class="section-header"><h3>Follow</h3></div>
        <!-- facebook -->
      <div class="col-sm-2 col-xs-4 space">
        <a href="#"><i class="fa fa-2x fa-facebook footer-social-icons" aria-hidden="true"></i> Facebook</a>
      </div>
      <div class="col-sm-2 col-xs-4 space">
        <!-- twitter -->
        <a href="#"><i class="fa fa-2x fa-twitter footer-social-icons" aria-hidden="true"></i> Twitter</a>
      </div>
      <div class="col-sm-2 col-xs-4 space">
        <!-- meetup -->
        <a href="#"><i class="fa fa-2x fa-meetup footer-social-icons" aria-hidden="true"></i> Meetup</a>
      </div>
      <div class="col-sm-2 col-xs-4 space">
        <!-- linkedin -->
        <a href="#"><i class="fa fa-2x fa-linkedin footer-social-icons" aria-hidden="true"></i> LinkedIn</a>
      </div>
      <div class="col-sm-2 col-xs-4 space">
        <!-- snapchat -->
        <a href="#"><i class="fa fa-2x fa-snapchat-ghost footer-social-icons" aria-hidden="true"></i> SnapChat</a>
      </div>
      <div class="col-sm-2 col-xs-4 space">
        <!-- instagram -->
        <a href="#"><i class="fa fa-2x fa-instagram footer-social-icons" aria-hidden="true"></i> Instagram</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <h6 class="footer-header">Yakkee © 2017 by Yakkee, LLC. All Rights Reserved </h6>
    </div>
  </div>
</section>
