<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<section ng-if="!vm.authentication.user">

  <ng-include src="'/modules/users/client/views/user/splash.client.view.html'"></ng-include>
</section>
<!-- Once signed in the user gets the following -->

<section ng-if="vm.authentication.user">

  <ng-include ng-if="!vm.loader && !vm.rsvpDeclined && !vm.videoCall" src="'/modules/users/client/views/user/user-search.client.view.html'"></ng-include>

  <ng-include ng-if="vm.loader" src="'/modules/users/client/views/user/loader.view.html'"></ng-include>

  <ng-include ng-if="vm.inviteReceived" src="'/modules/users/client/views/user/invite.view.html'"></ng-include>

  <ng-include ng-if="vm.rsvpDeclined" src="'/modules/users/client/views/user/rsvpDeclined.view.html'"></ng-include>

  <ng-include ng-if="vm.videoCall" src="'/modules/users/client/views/user/video-chat.client.view.html'"></ng-include>
</section>
