@import url('http://fonts.googleapis.com/css?family=Sigmar+One|Shrikhand|Raleway|Material+Icons');

body {
  color: black;
}

.user-search {
  height: 100vh;
  overflow: visible;
}

.search-bar {

  font-family: 'Raleway', sans-serif;
  font-size: 5rem;
  padding: 30px !important;
  line-height: 48px !important;
}

h1 {
  padding-top: 5vh;
  font-family: 'Sigmar One', cursive;
  font-size: 5rem;
  text-shadow: #466C79 5px 5px;
  color: #4FB7F2;
}

.card-pic {
  /*max-height: 100px;*/
  max-width: 20rem;
  border-radius: 100px;
}

.mic {
  font-size: 48px;
}

.card {
  margin-bottom: 5vh;
}

.invitation {
	position: fixed;
	background-color: #E3DEE6;
	width: 50rem;
	bottom: 1rem;
	right: 7rem;
	text-align: center;
	border: none;
	/*padding: 2rem 0px 2rem;*/
	border-radius: 2rem;
	box-shadow: #4FB7F2 0.01rem 0.01rem 5rem;
}

.card-title {
	padding-bottom: 1.5rem;
}

.invite-pic {
	max-height: 30rem;
	max-width: 20rem;
	padding-top: 0;
	border-radius: 2rem 0 0 2rem;
}

.card-block {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	max-width: 29rem;
}
